<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       
       
            <link rel="stylesheet" href="/css/congrats.css">
        <title>Solicitud Enviada Correctamente</title>
    </head>
    
<body>
    <div class="container">
        <img src="/assets/happy.png">
        <button type="button" class="btn btn-warning"><a th:href="@{/adoptante/home}">Volver al inicio</a></button>
        <p>
            <h3>Felicitaciones,</h3>
            su peticion para adoptar a la mascota a sido envida correctamente.
            <br>
            Ahora debe esperar que el dueño de la misma evalue tu peticion.
            <h4> Mucha suerte!</h4>
        </p>
        
    </div>
</body>
</html>