<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec"http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

        <link rel="stylesheet" href="/css/solicitudes-dueno.css" />
    </head>

    <body>
        <header>
            <h1 class="titulo-dueno">ADOGCATME</h1>
            <div class="logo-dueno"><img src="/assets/logo.png" alt="" /></div>
        </header>

        <main> 
            <div class="navegador">
                <nav class="menu">
                    <a th:href="@{/dueno/home}">Volver al home</a>
                    <a th:href="@{/mascota/registro}" class="regMasc"}>Registrar Mascota</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Cerrar Sesion</a>
                </nav>
            </div>


 
            <div th:each="solicitud : ${solicitudes}" class="soli" >
                <div class="mascota">
                    <div class="header">
                        <h2 th:text="${solicitud.mascota}!=null? ${solicitud.mascota.nombre}:''"></h2>
                        <label class="pregunta">
                            ¿Quien a preguntado por tu mascota?</label>
                    </div>

                    <div class="perfil">
                        <div class="fondo-foto">
                            <img class="img" th:if="${solicitud.mascota} != null" th:src="${'/img/mascota?id=' + solicitud.mascota.id}"/>
                        </div>
                    </div>

                    <div class="body" >
                        <div class="container" >

                            <a class="solicitante">
                                <h5 th:text="${solicitud.adoptante}!=null? ${solicitud.adoptante.nombre}:''"></h5>
                                <form th:action="@{/dueno/accion/__${solicitud.id}__}" method="POST">
                                    <button class="btn btn-success" name="accion" th:value="true" >Aceptar</button>
                                    <button class="btn btn-danger" name="accion" th:value="false" >Denegar</button>
                                </form>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>